<div class="panel panel-default">
  <div class="panel-heading">
    <i class=" clip-user-5"></i>
    Select A Session Client
    <div class="panel-tools">
      <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
      </a>
      <a class="btn btn-xs btn-link panel-close" href="#">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
  <div class="panel-body panel-scroll" style="height:300px;overflow-y: auto">
    <ul class="todo" id="clientSwitcherWidget">
      ''
      <li>
        <a class="todo-actions" href="/default/changeClient/client_id/245">245 - SUNIL KASHYAP</a>

      </li>
      <li>
        <a class="todo-actions" href="/default/changeClient/client_id/246">246 - TEST TEST</a>

      </li>
      <li>
        <a class="todo-actions" href="/default/changeClient/client_id/247">247 - TEST1 TEST</a>

      </li>
      <li>
        <a class="todo-actions" href="/default/changeClient/client_id/250">250 - DR. HERBERT MARCUS</a>

      </li>
      <li>
        <a class="todo-actions" href="/default/changeClient/client_id/251">251 - DR ABC</a>
      </li>

    </ul>
  </div>
</div>
